body{
    margin:0;
    padding:0;
    font-family: 'Times New Roman', Times, serif;
    
}


html{
    scroll-behavior: smooth;
}
:root{
   --main-color:#1F2278;
   --orange-color:#f17732;
   --btn-color:#565acf;
}
.section ,footer ,header{
    width: 100%;
    height: auto;
    overflow: hidden;
    max-width: 100%;
    padding: 25px 0px;
    margin-top: 50px;
}


a{
    text-decoration: none !important;
}
span{
    display: block;
}
ul{
    margin: 0;
    padding: 0;
}
li{
    list-style-type: none;
}
button{
    text-align: center;
    box-sizing: border-box;
    height: 40px;
    border-radius: 4px;
}
p{
    left: 28px;
}
input{
    box-sizing: border-box;
    border:1px solid #fff;
    text-align: left;
    padding: 5px 15px;
    color: #333;
    font-size: 16px;
    font-family: 'Times New Roman', Times, serif;
}
.logo img{
    width: 150px;
    height: 50px;
    margin-left: 103px;
}
nav{
    background-color: white;
    width: 100%;
    height: auto;
    border-radius:0px !important ;
    }
    nav .navbar-collapse a{
    color: var(--main-color);
    font-weight: 600;
    letter-spacing: 1px;
    margin-right: 10px;
    font-size: 16px;
    transition: .3s ease all;
  
    }
    nav .navbar-collapse a:hover,
    nav .navbar-collapse a:focus{
        color: var(--orange-color);
    }
    nav .navbar-collapse{
        margin-top: 12px;
       
    }
.me-auto .active{
        color: var(--orange-color) !important;
    }
    .navbar-collapse button{
        background-color: var(--btn-color);
        border: 1px solid var(--btn-color);
        width: 200px;
        height: 50px;
        color: white;
        text-transform: uppercase;
        font-size: 15px;
        margin-top: -10px;
        border-radius: 4px;
        display: flex;
        justify-content: center;
        align-items: center;
        transition: .3s ease-in-out;
    }
    .navbar-collapse .me-auto button span {
        background-color: white;
        color: var(--btn-color);
        width: 40px;
        border-radius: 4px;
        height: 40px;
        text-align: center;
        line-height: 40px;
        margin-left: 5px;
    }
    .navbar-collapse .me-auto button:hover{
        background-color:rgb(66, 66, 199);
        border: 1px solid rgb(66, 66, 199) ;
    }
    .navbar-nav .dropdown-menu{
        position: static;
        background-color: #fff;
        border: 1px solid #fff;
    }
    .navbar-nav .dropdown-menu li{

        width: 100px;
        height: 30px;
        position: relative;
    }
    .navbar-nav .dropdown-menu a{
        color: #444;
        font-size: 14px;
        line-height: 30px !important;
        position: relative;
        transition: .3s ease all;
    }
    nav .navbar-collapse a:hover{
        color: var(--btn-color);
    }
    /* footer */
      img.footerlogo{
        width: auto;
        height: 40px;
        margin: 15px 0px;
    }
    .footer p{
        font-size: 17px;
    }
    .footer-contact{
display: flex;

    }
    .footer-contact .footer-icon{
        margin: 20px;
        width: 40px;
        height: 40px;
        background-color: var(--orange-color);
        line-height: 40px;
        border: 1px solid var(--orange-color);
        box-sizing: border-box;
       border-bottom-left-radius:30px ;
    }
    .footer-contact .footer-icon svg{
color: white;
text-align: center;
padding-left: 10px;

    }
    .footer-contact .footer-text h6{
color: var(--orange-color);
margin-bottom: 20px;
font-size: 16px;
    }
    .footer-contact .footer-text h5{
        color: var(--main-color);
        font-size: 18px;
    }
    .footer-contact h2{
        color: var(--main-color);
        font-size: 30px;
        margin: 15px 0px;
        }
        .col-md-3  ul{
            margin-top: 20px;
        }
        .col-md-3 ul li{
            margin-top: 10px;
        }
        .col-md-3 ul li a{
            color: #333;
            font-size: 16px;
            letter-spacing: 1px;
        }
        form{
            margin: 15px 0px;
        }
        form input{
            border: 1px solid #ccc;
            margin: 10px 0px;
            width: 100%;

        }
        form button{
            width: 100%;
            background-color: var(--orange-color);
            color: #ccc;
            border: 1px solid var(--orange-color)!important;
        }
        .col-md-3 ul.social {
            display: inline-flex;
           
          
        } 

 